@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --nav-color: #1a1a1ab3;
    --primary: #FF2E2E;
    --accent-1: #F42B02;
    --accent-2: #FF073A;
}

#navbar {
    display: flex;
    position: sticky;
    height: 6rem;
    width: 100%;
    background-color: #1a1a1ab3; 
    backdrop-filter: blur(24px);
    color: white;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 0 6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primary);
    line-height: normal;
}

#navbar #navitems {
    list-style: none;
    display: flex;
    gap: 3rem;
    padding: 0 6rem;
    justify-content: center;
    align-items: center;
}

#navitems li {
    font-family: 'Roboto Mono', Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    display: inline-block;
}

#navitems .active {
    font-size: 1.05rem;
    font-weight: 600;
    color: var(--accent-1);
}

.symposium-button {
    all: unset;
    font-family: 'Roboto Mono', Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
    padding: 1.2rem 3rem;
    background-color: var(--primary);
}

